{% load static %}

{#  상단바  시작  #}
<nav class="navbar navbar-dark bg-black">
    <a href="{% url 'home:index' %}" class="navbar-brand text-light">SS3-Wizard</a>
    <form action="#" class="form-inline ml-md-auto d-none d-md-flex">
        <input type="search" class="form-control mr-sm-2 bg-light" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 bg-light" type="submit">Search</button>
    </form>
    <button class="navbar-toggler d-block d-md-none" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#sub-menu1" role="button" aria-expanded="false"
                   aria-controls="collapseExample">메뉴1</a>
                <div class="collapse navbar-collapse ml-3" id="sub-menu1">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a href="#" class="nav-link">메뉴 1-1</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">메뉴 1-2</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#sub-menu2" role="button" aria-expanded="false"
                   aria-controls="collapseExample">메뉴2</a>
                <div class="collapse navbar-collapse ml-3" id="sub-menu2">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a href="#" class="nav-link">메뉴 2-1</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">메뉴 2-2</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>
{#  상단바 끝  #}

{#   메뉴+헤더 시작  #}
<div class="d-flex flex-column text-light bg-black">
    {#    메뉴 시작    #}
    <div id="menus" class="menus d-md-block d-none">
        <div class="d-flex flex-row">
            <div class="d-inline">메뉴1</div>
            <div class="d-inline">메뉴2</div>
        </div>
        <div id="menu-sub" class="menu-sub d-flex">
            <div class="d-flex flex-column">
                <div class="menu">메뉴1-1</div>
                <div class="menu">메뉴1-2</div>
                <div class="menu">메뉴1-3</div>
                <div class="menu">메뉴1-4</div>
            </div>
            <div class="d-flex flex-column">
                <div class="menu">메뉴1-1</div>
                <div class="menu">메뉴1-2</div>
                <div class="menu">메뉴1-3</div>
                <div class="menu">메뉴1-4</div>
            </div>
        </div>
    </div>
    {#    메뉴 끝    #}
    {#    헤더 이미지 시작   #}
    <div id="header" class="header d-flex justify-content-center align-items-center">
        <h1 class="text-light">test test</h1>
    </div>
    {#    헤더 이미지 끝   #}
</div>
{#  메뉴+헤더 끝  #}