footer {
    height: 80px;
}

.top-button {
    display: none;
    margin: 0 30px 2vh auto;
    width: 5vw;
    height: 5vw;
    max-width: 50px;
    min-width: 30px;
    max-height: 50px;
    min-height: 30px;
}

.top-button * {
    width: 100%;
    height: 100%;
}