{% extends 'home/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'account/css/account.css' %}">
{% endblock %}
{% block title %}
    회원가입
{% endblock %}
{% block body %}
    <div class="wrapper sign_up">
        <div class="header sign_up">
{#            <a href="{% url 'home:index' %}"><strong>WIZARD</strong></a> 홈으로 보내기 설정 #}
            <strong>WIZARD</strong>
        </div>
        <form action="{% url 'account:sign_up' %}" method="POST">
            {% csrf_token %}
            <fieldset class="sign_up">
                <div class="userNm">
                    <div><label for="{{ form.username_for_label }}"><strong>아이디</strong></label></div>
                    <div>{{ form.username }}</div>
                    <div>
                        {% if form.username.errors %}
                            {% for error in form.username.errors %}
                                <p>{{ error|escape }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="userPw1">
                    <div>
                        <label for="{{ form.username_for_label }}"><strong>비밀번호</strong></label>
                    </div>
                    <div>
                        {{ form.password1 }}
                    </div>
                    <div>
                        {% if form.password1.errors %}
                            {% for error in form.password1.errors %}
                                <p>{{ error|escape }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="userPw2">
                    <div>
                        <label for="{{ form.username_for_label }}"><strong>비밀번호 확인</strong></label>
                    </div>
                    <div>
                        {{ form.password2 }}
                    </div>
                    <div>
                        {% if form.password2.errors %}
                            {% for error in form.password2.errors %}
                                <p>{{ error|escape }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

            </fieldset>
            <div class="form input sign_up">
                <input type="submit" value="가입하기" class="btn btn-dark btn-lg btn-block">
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}

{% endblock %}