{% extends 'home/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'account/css/account.css' %}">
{% endblock %}
{% block title %}
    로그인
{% endblock %}
{% block body %}
    <div class="wrapper sign_in">
        <div class="header sign_in">
            <strong>WIZARD</strong>
        </div>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="sign_in">
                <div>{{ form.username }}</div>
                <div>{{ form.password }}</div>
                {% if form.errors %}
                    <p>아이디 또는 비밀번호를 다시 확인하세요.</p>
                    <p>등록되지 않은 아이디거나, 아이디 또는 비밀번호를 잘못 입력하셨습니다.</p>
                {% endif %}
                {% if form.password.errors %}
                    {% for error in form.username.errors %}
                        <p>아이디 또는 비밀번호를 다시 확인하세요.</p><br>
                        <p>등록되지 않은 아이디거나, 아이디 또는 비밀번호를 잘못 입력하셨습니다.</p>
                    {% endfor %}
                {% endif %}
            </fieldset>
            <div class="form input sign_in">
                <input type="submit" value="로그인" class="btn btn-dark btn-lg btn-block">
            </div>
        </form>
        <div class = "d-flex flex-row add_sign_in">
            <button class="btn btn-dark btn-lg btn-block sign_in" type="button" onclick="location.href='{% url "account:sign_up" %}' ">회원가입</button>
            <button class="google_btn" type="button" onclick="location.href='{% url "social:begin" "google-oauth2" %}'">
                <img src="{% static 'account/images/google-btn2.png' %}" alt="google-logo">
            </button>
        </div>
    </div>
{% endblock %}
